
* {
    font-size: 16px;
    font-family: "Noto Sans", sans-serif;
    line-height: 22px;
    word-spacing: 10px;
}

.custom-container {
    width: 1000px !important;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.nav {
    gap: 20px;
}

.nav-link {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    padding: 10px 20px;
    transition: all 0.3s ease;
    position: relative;
}

.nav-link:hover {
    color: #4169e1; !important;
    transform: translateY(-3px);
}

.nav-link.custom-hover::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: #4169e1;
    transition: width 0.3s ease;
    position: absolute;
    bottom: -2px;
    left: 0;
}


.nav-link.custom-hover:hover::after {
    width: 100%;
}



